<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>CoolCode | Get your Geek on with these Tech Meme Tees and Laptop Stickers</title>

    <!-- Favicon  -->
    <link rel="icon" href="/static/img/core-img/favicon.ico">

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="/static/css/core-style.css">
    <link rel="stylesheet" href="/static/scss/style.css">

</head>

<body>
    <!-- Search Wrapper Area Start -->
    <div th:insert="fragments/search.html :: search">...</div>
    <!-- Search Wrapper Area End -->

    <div class="banner-container box-shadow"></div>

    <!-- ##### Main Content Wrapper Start ##### -->
    <div class="main-content-wrapper d-flex clearfix">

            <!-- Mobile Nav (max width 767px)-->
            <div class="mobile-nav">
                <!-- Navbar Brand -->
                <div class="amado-navbar-brand">
                    <a href="index2.html"><img src="/static/img/core-img/logo.png" alt=""></a>
                </div>
                <!-- Navbar Toggler -->
                <div class="amado-navbar-toggler">
                    <span></span><span></span><span></span>
                </div>
            </div>


        <!-- Header Area Start -->
        <div class="banner-navbar-container">
            <header th:insert="fragments/header-with-sidebar.html :: header-with-sidebar">...</header>
        </div>
        <!-- Header Area End -->

        <div class="amado_product_area section-padding-100">
            <div class="container-fluid">
                <div id="product-container" class="row">
                    <!-- Single Product Area -->
                    <div class="col-12 col-sm-6 col-md-12 col-xl-6" th:each="prod,iterStat : ${products}">
                        <div class="single-product-wrapper">
                            <!-- Product Image -->
                            <div class="product-img">
                                <img th:src="@{${prod.baseImagePath + prod.imagePath}}" alt="">
                                <!-- Hover Thumb -->
                                <img class="hover-img" th:src="@{${prod.baseImagePath + prod.hoverImagePath}}" alt="">
                            </div>

                            <!-- Product Description -->
                            <div class="product-description d-flex align-items-top justify-content-between">
                                <!-- Product Meta Data -->
                                <div class="product-meta-data">
                                    <div class="line"></div>
                                    <p class="lead product-price" th:text="${prod.price}">100 USD</p>
                                    <div class="ratings">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                    <a href="product-details.html">
                                        <h4 class="card-title" th:text="${prod.name}">Product name</h4>
                                    </a>
                                    <p class="card-text" th:text="${prod.description}">Product description... </p>
                                </div>
                                <!-- Ratings & Cart -->
                                <div class="ratings-cart text-right" style="min-width: 30px">
                                    <div class="cart">
                                        <a href="#" data-toggle="tooltip" data-placement="left" title="Add to Cart"><img th:data-product-id="${prod.id}" class="product-cart" src="/static/img/core-img/cart-purple.png" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <!-- ##### Main Content Wrapper End ##### -->

    <!-- ##### Newsletter Area Start ##### -->
    <section th:insert="fragments/newsletter.html :: newsletter">...</section>
    <!-- ##### Newsletter Area End ##### -->


    <!-- ##### Footer Area Start ##### -->
    <div th:insert="fragments/footer.html :: footer">...</div>
    <!-- ##### Footer Area End ##### -->


    <!-- ##### jQuery (Necessary for All JavaScript Plugins) ##### -->
    <script src="/static/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="/static/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="/static/js/plugins.js"></script>
    <!-- Active js -->
    <script src="/static/js/active.js"></script>
    <script type="module" src="/static/js/main.js" defer></script>
    <script type="module" src="/static/js/cart.js" defer></script>




</body>

</html>