<section class="newsletter-area section-padding-100-0" th:fragment="newsletter">
    <div class="container">
        <div class="row align-items-center">
            <!-- Newsletter Text -->
            <div class="col-12 col-lg-6 col-xl-7">
                <div class="newsletter-text mb-100">
                    <h2>Subscribe for a <span>25% Discount</span> on your first purchase if you're a Codecooler this summer.</h2>
                    <p>Cows are common animals in the Overworld who offer a reliable source of leather, meat and milk. They're usually found in the wild, but can also be found in villages near butchers' houses and in animal pens.</p>
                </div>
            </div>
            <!-- Newsletter Form -->
            <div class="col-12 col-lg-6 col-xl-5">
                <div class="newsletter-form mb-100">
                    <form action="#" method="post">
                        <input type="email" name="email" class="nl-email" placeholder="Your E-mail">
                        <input type="submit" value="Subscribe">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>